<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Weather Forecast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="#2ba2aff0">
    <div class="ion-padding" color="warn" >
        <ion-item>
          
            
            <ion-input [(ngModel)]="cityname">
              <ion-button placeholder="Enter city" (click)= "getLocation()"><ion-icon name="search"></ion-icon>
              </ion-button>
            </ion-input>
            
          </ion-item>
      
        <h2 class="h2" >
{{weatherData?.name}},{{weatherData?.sys.country}}</h2>
<ion-img [src]="['http://openweathermap.org/img/wn/01d@2x.png']" width="80" height="80 "alt="clear sky" *ngIf = "weatherData?.weather[0].description == 'clear sky'" ></ion-img>
<ion-img [src]="['http://openweathermap.org/img/wn/02d@2x.png']" alt="few clouds" *ngIf = "weatherData?.weather[0].description == 'few clouds'" ></ion-img>
<ion-img [src]="['http://openweathermap.org/img/wn/03d@2x.png']" alt="scattered clouds" *ngIf = "weatherData?.weather[0].description == 'scattered clouds'" ></ion-img>
<ion-img [src]="['http://openweathermap.org/img/wn/04d@2x.png']" alt="broken clouds" *ngIf = "weatherData?.weather[0].description == 'broken clouds'" ></ion-img>
<ion-img [src]="['http://openweathermap.org/img/wn/09d@2x.png']" alt="shower rain" *ngIf = "weatherData?.weather[0].description == 'shower rain'" ></ion-img>
<ion-img [src]="['http://openweathermap.org/img/wn/10d@2x.png']" alt="rain" *ngIf = "weatherData?.weather[0].description == 'rain'" ></ion-img>
<ion-img [src]="['http://openweathermap.org/img/wn/11d@2x.png']" alt="thunderstorm" *ngIf = "weatherData?.weather[0].description == 'thunderstorm'" ></ion-img>




 <h3 style="font-family:'Courier New', Courier, monospace;">
   {{weatherData?.weather[0].description}}
  </h3>
 
 <ion-list>
    <ion-item>
     <ion-label>Pressure:{{weatherData?.main.pressure}}</ion-label> 
    </ion-item>
    <ion-item>
      <ion-label>Humidity:{{weatherData?.main.humidity}}</ion-label>
    </ion-item>
   <ion-item>
    <ion-label>Temperature:{{temp}}<sup>&deg;</sup>C</ion-label>
  </ion-item>
</ion-list>
  </div>
</ion-card>
</ion-content>
